<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title> Placa Fácil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item>
  <ion-label position="floating">Placa do veículo</ion-label>
  <ion-input [(ngModel)]="placa"></ion-input>
</ion-item>

<ion-button expand="full" (click)="consultar()">Consultar</ion-button>

<!-- Exibe os dados do veículo -->
<ion-card *ngIf="dadosVeiculo" class="dados-veiculo-card">
  <ion-card-header>
    <ion-card-title>Informações do Veículo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="dados-container">
      <div class="dados-item">
        <p><strong>Marca:</strong> {{ dadosVeiculo.marca }}</p>
      </div>
      <div class="dados-item">
        <p><strong>Modelo:</strong> {{ dadosVeiculo.modelo }}</p>
      </div>
      <div class="dados-item">
        <p><strong>Ano:</strong> {{ dadosVeiculo.ano }}</p>
      </div>
      <div class="dados-item">
        <p><strong>Cor:</strong> {{ dadosVeiculo.cor }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<!-- Exibe uma mensagem se não houver dados -->
<ion-card *ngIf="dadosVeiculo === null && placa">
  <ion-card-header>
    <ion-card-title>Nenhum dado encontrado para a placa {{ placa }}.</ion-card-title>
  </ion-card-header>
</ion-card>
